body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
}

.profile {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 200px;
}

:root {
  --container: 1280;
}

.header-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  align-items: center;
  background: black;

  position: sticky;
  top: 0;
  z-index: 10;
}

.header-grid > *,
.btn-group button {
  font-family: "Ubuntu", sans-serif;
}

header a {
  margin-left: 20px;
  transition-duration: 1s;
}

a img {
  width: 100px;
}

header a:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

header a {
  grid-column-start: 2;
  grid-column-end: 3;
}

header menu {
  grid-column-start: 3;
  grid-column-end: 8;
}

header menu {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 40px;
  list-style-type: none;
  align-items: center;
}

header menu li {
  text-align: center;
}

header menu li a {
  transition: 1s;
  color: white;
  text-decoration: none;
}

header menu li:hover {
  transform: scale(1.2);
  transition: 1s;
}

.active {
  font-size: 24px;

  grid-column-start: 1;
  grid-column-end: 2;
}

header menu li:nth-child(2) {
  font-size: 12px;
  grid-column-start: 2;
  grid-column-end: 7;
}

header menu li:nth-child(3) {
  font-size: 12px;
  grid-column-start: 7;
  grid-column-end: 10;
}

header .btn-group {
  grid-column-start: 12;
  grid-column-end: 13;
  float: right;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* MAIN */
.price-plans {
  font-family: "Ubuntu";
  color: black;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.price-plans h2 {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 1;
  grid-column-end: 12;

  text-align: center;
}

.plans {
  grid-row-start: 2;
  grid-row-end: 12;

  grid-column-start: 2;
  grid-column-end: 12;

  text-align: center;
}

.plans {
  display: flex;
}

.plan {
  border-radius: 1000px;
}

.plan img {
  width: 400px;
}

/* footer */
